body {
    background: #eeeeee;
}
.panel {
    display: inline-block;
    background: #00008b;
    min-height: 256px;
    height: 100px;
    box-shadow:0px 0px 5px 5px #C9C9C9;
    -webkit-box-shadow:2px 2px 5px 5x #C9C9C9;
    -moz-box-shadow:2px 2px 5px 5px #C9C9C9;
    margin: 50px;
    padding: 50px;
    text-align: left;
}

.panel2 {
    min-width: 245px;
    width: 40%;
}